.main-view .comp-b {
  top: 70px;
  img {
    justify-self: center;
  }
  .info-pill {
    justify-self: center;
    align-self: center;
    width: 60%;
  }
  .controles {
    justify-self: center;
    width: 100%;
  }
  .exercise-description p {
    font-size: 16px;
    line-height: 17.5px;
  }
  .app-back {
    margin: 0;
  }
  .controles {
    .active-page {
      background-color: map-get($colores, bonus-btn);
    }
    .inactive-page {
      background-color: rgba(map-get($colores, bonus-btn), 0.4);
    }
    span svg path {
      fill: map-get($colores, bonus-btn);
    }
  }

  &_1 {
    grid-template-rows: 80px 3px 80px auto 100px auto 50px auto 50px 7rem 4rem 4rem;
    .bonus-color {
      justify-self: center;
      align-self: end;
      margin-bottom: 1rem;
    }
    img {
      margin: 1rem 0;
    }
  }
  &_2 {
    grid-template-rows: 100px auto 50px 30px auto 7rem 4rem 3rem;
    .bonus-color {
      justify-self: center;
      line-height: 1.1em;
      width: 80%;
      text-align: center;
    }
    .horario {
      margin-bottom: 1rem;
      margin-right: 2.5rem;
    }
    .img-footer {
      display: flex;
      justify-content: space-between;
      width: 90%;
      justify-self: center;
      p {
        font-size: 10px;
        font-weight: bold;
      }
    }
    .squares {
      margin-bottom: 2rem;
    }
  }
  &_3 {
    grid-template-rows: 120px auto 200px auto 7rem 4rem 3rem;
    .bonus-color {
      justify-self: center;
      line-height: 1.1em;
      width: 80%;
      text-align: center;
      &.smaller {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
      }
    }
    .flechas {
      margin-top: 2rem;
    }
    .lineas {
      margin-bottom: 3rem;
    }
  }
  &_4 {
    grid-template-rows: auto auto auto auto 9rem 4rem 3rem;
    .bonus-color {
      justify-self: center;
      line-height: 1.1em;
      width: 80%;
      text-align: center;
      margin-top: 2.5rem;

      &.medium {
        margin-bottom: 4rem;
      }
    }

    .flechas {
      margin-top: 2rem;
    }
    .lineas {
      margin-bottom: 3rem;
    }
  }
  &_5 {
    grid-template-rows: auto auto auto auto 9rem 4rem 3rem;
    .bonus-color {
      justify-self: center;
      line-height: 1.1em;
      width: 80%;
      text-align: center;
      margin-top: 2.5rem;
      &.smaller {
        font-size: 14px;
        line-height: 20px;
        width: 80%;
      }
    }
    .cruces {
      margin-top: 6rem;
      margin-bottom: 3rem;
      justify-self: start;
    }
    .barras {
      margin: 3rem 0;
    }
  }
  &_6 {
    grid-template-rows: auto auto 7rem 4rem 4rem;
    .bonus-color {
      justify-self: center;
      line-height: 1.1em;
      width: 80%;
      text-align: center;
      margin-top: 2.5rem;
    }
    img {
      width: 70%;
      margin: 5rem 0;
    }
  }
}
