.offer-view {
  &_premium {
    background-image: url("../../../public/assets/offer-bg.svg");
  }
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  .info-header {
    margin: 0;
    a {
      margin-top: 2rem;
    }
  }
  &_info {
    background: url("../../../public/assets/info-bg.svg");
    background-size: cover;
  }
  .info-page {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    grid-template-rows: auto auto auto auto;
    &.offer {
      p {
        color: map-get($colores, offer-item-p);
        width: 85%;
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin-bottom: 1.5rem;
      }
    }
    .title_big-name_title {
      font-size: 1.8rem;
      text-align: center;
      width: 85%;
      line-height: 2.4rem;
      margin-bottom: 2rem;
    }
    &.suggest {
      grid-template-rows: 120px auto 80px 10rem 2rem;
      .offer-item {
        width: 100%;
      }
      .title_big-name_title {
        text-align: left;
        margin: 0;
        color: map-get($colores, dark-text);
        width: 100%;
        font-weight: 800;
        font-size: 1.6rem;
      }
      .center-info {
        padding: 0 10%;
      }
      .offer-item {
        display: grid;
        grid-template-columns: 2fr 7fr;
        width: 80%;
        align-items: center;
        height: 6rem;
        p {
          color: map-get($colores, payment-p);
          font-size: 0.9rem;
          line-height: 1.2rem;
          margin: 0;
        }
        img {
          justify-self: center;
          padding-right: 0.8rem;
        }
      }
      .btn {
        padding: 0;
      }
    }

    .check-group {
      align-self: end;
      label {
        color: black;
        margin-left: 0.5rem;
        font-size: 1rem;
      }
    }

    .check-error {
      font-size: 0.8rem;
      padding: 0 4rem;
      text-align: center;
      margin-top: 1rem;
    }
  }

  .see-premium {
    display: grid;
    grid-template-columns: 2fr 7fr;
    width: 50%;
    color: map-get($colores, bonus-btn);
    margin: 2rem auto;
    justify-items: center;
  }

  &_normal {
    .info-page {
      &.offer {
        p {
          color: black;
          width: 85%;
          font-size: 0.9rem;
          line-height: 1.2rem;
          margin-bottom: 1.5rem;
        }
        .offer-item {
          display: grid;
          grid-template-columns: 2fr 7fr;
          width: 80%;
          align-items: center;
          height: 6rem;
          p {
            color: black;
            font-size: 0.9rem;
            line-height: 1.2rem;
            margin: 0;
          }
        }
      }
    }
  }
  .btn {
    padding-bottom: 3rem;
  }
  .inf-2 {
    grid-template-rows: 180px auto auto auto;
    margin-bottom: 5px;
    .items {
      line-height: 1.6em;
    }
    .check-group {
      margin: 2rem 0 4rem;
      label {
        color: black;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}

.offer-item {
  display: grid;
  grid-template-columns: 2fr 7fr;
  width: 80%;
  align-items: center;
  height: 6rem;
  p {
    color: map-get($colores, offer-item-p);
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin: 0;
    &.dark {
      color: map-get($colores, payment-p);
    }
  }
  img {
    justify-self: center;
    padding-right: 0.8rem;
  }
}

.payment-info {
  padding: 3rem 0;

  .info-page.offer {
    background-image: url("../../../public/assets/payment-info-bg.svg");
    background-position: center;
    display: grid;
    place-items: center;
    button {
      margin-top: 2rem;
    }
  }
}
