.video-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(black, 0.5);
  position: absolute;
  top: 0;
  z-index: 3;
  video {
    position: absolute;
    top: 25%;
    width:100%;
    animation: zoom 0.5s ease-in-out forwards
  }


  .video-ex {
    top: 0;
    aspect-ratio: 9/16;
    
  }
  button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    svg {
      font-size: 1.5rem;
    }
  }
  &_ex {
    background-color: black;
    &_1 {
      top: -22vh;
      z-index: 0;
      width: 100vw;
      button{
        top:150px;
        right:10px;
      }
      .video-1{
        width:100vw;
        object-fit: cover;
      }
    }
  }
}

.main-landing {
  text-align: center;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 220px 5.5rem 100px;
  justify-items: center;
  /*  background-image:url('../../../public/assets/shape-2.png');
    background-repeat:no-repeat; */

  .video-cont {
    position: relative;
    z-index: 0;

    img {
      width: 80%;
      align-self: center;
    }
    button {
      position: absolute;
      top: 72%;
      right: 44%;
      svg {
        font-size: 1.2rem;
      }
    }
    @media screen and (min-width: 700px) {
      img {
        width: 20%;
      }
    }
  }

  p {
    margin-top: 0.5rem;
    color: map-get($colores, light-text);
  }
}


@keyframes zoom {
  0%{
   transform: scale(0)
  }
  100%{
    transform: scale(1)
  }
}