.main-view {
  &.sleep-view {

    
    background-image: url("../../../public/assets/sleepfq-bg.svg");
    min-height:100vh;
    padding:0 30px;
    background-size:cover;
    color:white;
  .top{
    display:grid;
    justify-items: center;
    .controles{
      width:100%;
    }
  }


  img{
    margin-top:3.5rem;
    margin-bottom:2.1rem;
    width:45px;
  }
  .head-title{
    font-size: 1.15rem;
    margin-bottom: 3.5rem;
  }
  h1{
    font-size:1.74rem;
    justify-self: start;
    margin-bottom:1rem;
  }
  p{
    font-size: 1.15rem;
    line-height:2rem;
    text-align: justify;
    min-height:230px;
    font-weight:300;
  }
  .bottom{
    margin-top:2rem;
    display:grid;
    .profile-icons{
      height: calc(220*2px);
      margin-top:1rem;
      .conjunto{
        height:220px;
        flex-direction: column;
        .profile-icon{
          box-shadow: none;
          &.progresiva{
            background-color: white;
            background-image: url('../../../public/assets/relajacion-progresiva.svg');
            background-repeat: no-repeat;
            background-position: center;
          }
          &.mixta{
            background-color: white;
            background-image: url('../../../public/assets/relajacion-mixta.svg');
            background-repeat: no-repeat;
            background-position: center;
          }
          &.asmr{
            background-color: white;
            background-image: url('../../../public/assets/asmr.svg');
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        p{
          margin-top:10px;
          align-self: center;
          font-size:1rem;
          text-align: center;
          font-weight:300;
          min-height:0;
          line-height:1.2em;
        }
      }
    }
  }
  .categorias{
    font-size:1.15rem;
  }
  .boton{
    padding: 2rem 0 4rem 0;
    display:flex;
    justify-content: center;
  }
  }
  &.categories{
    img{
      width:70px;
      margin: 107px auto 51px auto;
    }
    h1{
      justify-self: center;
      text-align: center;
    }
    p{
      text-align: center;
      margin-top:1.7rem;
    }
    .bottom{
      width:100%;
      overflow-x: scroll;


    }
    .frequency-box{
      width:155px;
      height:220px;
      margin: 0 5px;
     
      .inner-box{
        display:flex;
        justify-content: center;
        align-items:center;
        height:166px;
        width:150px;
        border-radius:20px;
        background-image: url('../../../public/assets/sueno-bg.svg');
        background-size: cover;
        background-position: center;
        background-color:white;
        img{
          width: 35px;
          margin:0;
        }
       
      }
      p{
        margin-top:10px;
       min-height:0;
      }
    
    
    }
    .additional-info{
      display: grid;
      grid-template-columns: 1fr 7fr;
      margin-top:3rem;
      img{
        width:70%;
        margin:0;
      }
      p{
        min-height: 0;
        margin:0;
        text-align: justify;
      }
    }
    &.player{
      p{
        min-height: 0;
        margin-bottom: 2rem;
      }
    }
    .sleep-controls{
      width:100%;
      display:flex;
      justify-content: space-between;
      align-items: center;
      img{
        margin:0;
      }
      .smallButtons{
        width:26px;
      }
    }
    .audio-player{
      grid-template-rows: auto;
    }
    
  } 

  .slide{
    display:flex;
    width: calc(165*3px);
    overflow-x: scroll;
    
    
  }
}
.space{
  height:250px
}
.waves{
  width: 30px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem auto 4rem auto;
  height: 3rem;
  position: absolute;
  top: 0;
  left: calc(100vw/2 - 15px);
  .stroke{
    width: 0.5rem;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    animation: waving 2s linear infinite;
    &:nth-child(2){
      animation-delay: 0.5s;
    }
    &:nth-child(3){
      animation-delay: 0.1s;
    }
  }
  &.stopped{
    .stroke{
      animation: none;
      height:20%;
    }
  }

}

@keyframes waving {
  50%{
    height:20%;
  }
  100%{
    height:100%;
  }
}




