.user-profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55vh auto;
  .top {
    background-image: url(../../../public/assets/profileGif.gif);
    background-position: center center;
  }
  div {
    padding: 0 10%;
    margin-bottom: 2rem;
  }
}
.user-main {
  display: grid;
  grid-template-columns: 1fr;
 // padding: 0 30px;
  grid-template-rows: auto auto 600px auto;
  &_unpaid {
    grid-template-rows: 90px 750px 140px 150px;
    .read-unpaid {
      @include unpaid;
      text-align: center;
      padding: 0 30px;
      img {
        width: 20px;
      }
      p {
        padding: 0 1rem;
      }
    }
    .buttons-cont{
      padding:0 15vw;
      justify-content: space-evenly;
    }
  }
  .user-header{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    padding: 0 30px;
    img{
      grid-column:11/13;
      width: 80%;
      justify-self: end;
      align-self:center;
    }
    .title_user{
      align-self: center;
      margin:0;
    }
  }
  .title_user {
    justify-self: start;
    color: map-get($colores, primary-text-variant);
    margin: 2rem 0 1rem 0;
    grid-column: 1/10
  }
  .exercise-description {
    width: 80%;
    line-height: 1.1em;
  }
 
}
.user-secondary {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 8%;
  grid-template-rows: auto auto auto auto;
  
 &.personal{
  .buttons-cont{
    margin-bottom: 5rem;
  }
 }
  &_journal {
    grid-template-rows: auto; //auto auto 60px auto;
    .journal-bg{
      background-color: red;
      padding:0;
    }
    &.note-input {
      grid-template-rows: 160px 60px auto 60px auto;
    }
    .box-container {
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .notes-container {
      max-height: 450px;
      min-height: 450px;
      overflow-y: scroll;
      border-top: 1px solid map-get($colores, secondary-text-color);
      margin-bottom: 3rem;
      padding-top: 1.5rem;
      .note {
        display: flex;
        justify-content: space-between;
        height: 4rem;
        align-items: center;
      }
    }
    .note-header {
      display: flex;
      width: 100%;
      font-size: 1.1rem;
      margin-top: 2.5rem;

      .note-date {
        color: map-get($colores, user);
        margin-left: 1rem;
      }
    }
    .register-title {
      color: map-get($colores, secondary-text-color);
      margin: 1rem 0 0 0;
      font-weight: 400;
    }
    .questions-title {
      margin: 2rem 0;
      padding-top: 2rem;
      border-top: 1px solid map-get($colores, hr-color);
      .question-header {
        display: grid;
        grid-template-columns: 6fr 1fr;
        align-items: center;
        width: 100%;
        height: 4rem;
        svg {
          justify-self: end;
          path {
            fill: map-get($colores, user);
          }
        }
        p {
          width: 90%;
          color: map-get($colores, secondary-text-color);
          font-size: 1rem;
        }
      }
    }
  }
  .order {
    display: grid;
    justify-items: end;
    justify-self: end;
    margin-top: 3rem;
    margin-bottom: 1rem;

    .order-option {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 0.7rem;

      p {
        font-size: 0.8rem;
        color: map-get($colores, secondary-text-color);
      }
      path {
        fill: map-get($colores, btn-primary);
      }
    }
    .exercise-description {
      display: flex;
      margin-bottom: 1rem;
      width: 100%;
      p {
        margin-right: 1rem;
        font-size: 0.8em;
      }
    }
  }
  .title_user {
    justify-self: start;
    color: map-get($colores, primary-text-variant);
    margin: 2rem 0 1rem 0;
  }
  .exercise-description {
    width: 80%;
    line-height: 1.1em;
  }
  .sub {
    width: 100%;
    margin-top: 1rem;
    p {
      text-align: center;
    }
  }
  .profile-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    img {
      width: 16%;
      margin-top: 2.5rem;
    }
    .journal-img{
      width:40%;
    }
    svg{display:none;}
    .icon-text {
      margin-top: 1rem;
      font-size: 1rem;
      color: map-get($colores, user);
      width: 80%;
      text-align: center;
      &-journal{
        font-size: 1.8rem;
        margin-top:0;
      }
    }
    .completed{
      justify-self: end;
     }
  }
  .formulario {
    margin: 3rem 0;
    label {
      color: map-get($colores, secondary-text-color);
    }
  
  
  }

  
  &_test {
    .test-question {
      text-align: center;
      margin-top: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid map-get($colores, secondary-text-color);
    }
    .opciones {
      margin-top: 0;
      .accordion .accordion-header .exercise-description p {
        text-align: left;
      }
    }
  }
}

.indicator {
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
  div {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    margin: 0.2rem;
    &.active-page {
      background-color: map-get($colores, user-variant);
    }
    &.inactive-page {
      background-color: map-get($colores, user-traslucid);
    }
  }
}

.user-space-info{
  
  display: grid;
  place-items: center;
  grid-template-rows: 320px auto 5rem 160px 9rem;
  grid-template-columns: 1fr;
  padding: 0 8%;
  //max-height:100vh;
  .imagenes{
    align-self:end;
    margin-bottom:2.5rem;
    display:flex;
    justify-content: center;
  }
  .space-title-container{
    .space-title{
      font-size:2.15rem;
    }
  }
  .space-info-container{
    align-self: start;
    p{
      font-size:1.15rem;
      text-align:center;
      
      strong{
        font-size:1em;
      }
      
    }
  }
  .buttons-cont{
    margin-bottom:0;
    height:70px;
  }
}

.opciones {
  position: relative;
  margin-top: 2rem;
 // min-height: 500px;
  &_journal {
    min-height: auto;
  }
  .exercise-description p {
    font-size: 1rem;
    line-height: 1.3em;
  }
  textarea {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: 0.5px solid map-get($colores, hr);
    padding: 1rem;
    &.no-edit {
      margin-bottom: 4.8rem;
    }
  }
  img {
    position: absolute;
    top: 100px;
    left: 30%;
  }
}